{% extends "auctions/layout.html" %}

{% block body %}

<div class="listings-container">
    {% if watched_listings %}
    <h2 class="title">Your Watchlist</h2>
    <hr>
    <ul>
        {% for listing in watched_listings %}
            <li>
                <a href="{% url 'listingPage' listing.id%}">
                    <div class="Image-container">
                    {% if listing.imageUrl %} 
                    <img src="{{ listing.imageUrl }}" alt="{{ listing.title }}">
                    {% endif %}
                    </div>
                    <h3>{{ listing.title }}</h3>
                </a>
                <small>Owner: @{{ listing.owner }}</small>
                <p>{{ listing.description|slice:":100" }}...</p>
                {% if listing.max_bid %}
                <p class="last-bid">Last Bid: ${{ listing.max_bid }}</p>
                {% else %}
                <p class="Primary-price">Primary Price: ${{ listing.primary_price }}</p>
                {% endif %}
                <small>Posted since: {{listing.updated|timesince}}</small>
                <hr>
                <form action="{% url 'removeWatchlist' listing.id %}" method="POST">
                    {% csrf_token %}
                    <button class="submit" type="submit">Remove from Watchlist</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <h2 class="title">No Items In Your Watchlist</h2>
    {% endif %}
</div>

{% endblock %}